# 데이터

In [1]:
import pandas as pd
import numpy as np
df2016 = pd.read_csv('서울특별시_전월세가_정보_2016.csv',  encoding = 'cp949', sep='\;')
df2017 = pd.read_csv('서울특별시_전월세가_정보_2017.csv',  encoding = 'cp949', sep='\;')
df2018 = pd.read_csv('서울특별시_전월세가_정보_2018.csv',  encoding = 'cp949', sep='\;')
df2019 = pd.read_csv('서울특별시_전월세가_정보_2019.csv',  encoding = 'cp949', sep='\;')
df2020 = pd.read_csv('서울특별시_전월세가_정보_2020.csv',  encoding = 'cp949', sep='\;')

df2016

<ipython-input-1-ac267c5a37a2>:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df2016 = pd.read_csv('서울특별시_전월세가_정보_2016.csv',  encoding = 'cp949', sep='\;')
<ipython-input-1-ac267c5a37a2>:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df2017 = pd.read_csv('서울특별시_전월세가_정보_2017.csv',  encoding = 'cp949', sep='\;')
<ipython-input-1-ac267c5a37a2>:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df2018 = pd.read_csv('서울특별시_전월세가_정보_2018.csv',  encoding = 'cp949', sep='\;')
<ipython-input-1-ac267c5a37a2>:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df2019 = pd.read_csv('서울특별시_전월세가_정보_2019.csv',  encoding = 'cp949', sep='\;')
<ipython-input-1-ac267c5a37a2>:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df2020 = pd.read_csv('서울특별시_전월세가_정보_2020.csv',  encoding = 'cp949', sep='\;')

,"""지번코드","""""기관코드""""","""""일련번호""""","""""접수년도""""","""""자치구코드""""","""""자치구명""""","""""법정동코드""""","""""법정동명""""","""""본번""""","""""부번""""",...,"""""임대건물코드""""","""""임대건물명""""","""""임대면적""""","""""전월세구분코드""""","""""전월세구분""""","""""보증금""""","""""임대료""""","""""계약년도""""","""""계약일자""""","""""건축년도"""""",,,,,,"
0,1141012000103860000,3120057,590,2016,11410,서대문구,12000,남가좌동,386.0,0.0,...,1,아파트,60,1,전세,43000,0,2016,20160721,"2015,,,,,,"
1,1141012000103860000,3120057,510,2016,11410,서대문구,12000,남가좌동,386.0,0.0,...,1,아파트,60,3,준월세,5000,110,2016,20160416,"2015,,,,,,"
2,1141012000103860000,3120057,291,2016,11410,서대문구,12000,남가좌동,386.0,0.0,...,1,아파트,60,3,준월세,5000,100,2016,20160112,"2015,,,,,,"
3,1141012000103840000,3120057,452,2016,11410,서대문구,12000,남가좌동,384.0,0.0,...,1,아파트,85,2,월세,500,160,2016,20160417,"2015,,,,,,"
4,1141012000103840000,3120057,308,2016,11410,서대문구,12000,남가좌동,384.0,0.0,...,1,아파트,60,3,준월세,5000,110,2015,20151222,"2015,,,,,,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384959,1156011300,3180046,970,2016,11560,영등포구,11300,당산동3가,NaN,NaN,...,2,단독/다가구,32,1,전세,10500,0,2016,20161012,"1992,,,,,,"
384960,1174011000107320000,3240086,861,2016,11740,강동구,11000,강일동,732.0,0.0,...,4,다세대/연립,19,1,전세,3002,0,2016,20160928,"2016,,,,,,"
384961,1144012500106010000,3130061,900,2016,11440,마포구,12500,성산동,601.0,0.0,...,1,아파트,85,4,준전세,30000,40,2016,20160402,"2004,,,,,,"
384962,1168010500101030022,3220047,699,2016,11680,강남구,10500,삼성동,103.0,22.0,...,1,아파트,142,1,전세,95000,0,2016,20160930,"2006,,,,,,"
384963,1111017000,3000054,338,2016,11110,종로구,17000,명륜1가,NaN,NaN,...,2,단독/다가구,48,3,준월세,2000,100,2016,20160116,"2016,,,,,,"

In [2]:
# 2016 ~ 2020 합치기!
df = pd.concat([df2016, df2017, df2018, df2019, df2020])

# 칼럼명 변경
df.columns = ['지번코드', '기관코드', '일련번호', '접수년도', '자치구코드', '자치구명', '법정동코드', '법정동명', '본번', '부번', '건물명', '층', '임대건물코드', '임대건물명', '임대면적', '전월세구분코드', '전월세구분', '보증금', '임대료', '계약년도', '계약일자', '건축년도']

# 건축년도 연도만 남김
df['건축년도'] = [d[:4] for d in df['건축년도']]

# 칼럼명 변경
df.columns = ['지번코드', '기관코드', '일련번호', '접수년도', '자치구코드', '자치구명', '법정동코드', '법정동명', '본번', '부번', '건물명', '층', '임대건물코드', '임대건물명', '임대면적', '전월세구분코드', '전월세구분', '보증금', '임대료', '계약년도', '계약일자', '건축년도']

# 건축년도 연도만 남김
df['건축년도'] = [d[:4] for d in df['건축년도']]

# 사용 안할 칼럼 삭제
df.drop(['지번코드', '기관코드', '일련번호', '자치구코드', '법정동코드', '본번', '부번', '임대건물코드', '전월세구분코드', '접수년도', '건물명', '계약일자', '층'], axis = 1, inplace = True)

# index 재설정
df = df.reset_index(drop = True)

# 평당임대료 계산
df['평당임대료'] = df['임대료'] / df['임대면적']

df

         자치구명  법정동명 임대건물명  임대면적 전월세구분    보증금  임대료  계약년도  건축년도     평당임대료
0        서대문구  남가좌동   아파트    60    전세  43000    0  2016  2015  0.000000
1        서대문구  남가좌동   아파트    60   준월세   5000  110  2016  2015  1.833333
2        서대문구  남가좌동   아파트    60   준월세   5000  100  2016  2015  1.666667
3        서대문구  남가좌동   아파트    85    월세    500  160  2016  2015  1.882353
4        서대문구  남가좌동   아파트    60   준월세   5000  110  2015  2015  1.833333
...       ...   ...   ...   ...   ...    ...  ...   ...   ...       ...
2216731   성북구   종암동   아파트    85    전세  39900    0  2020  1999  0.000000
2216732   중랑구   상봉동   아파트    23    전세  18370    0  2020  2016  0.000000
2216733   노원구   상계동   아파트    77    전세  33000    0  2020  2002  0.000000
2216734   강북구   미아동   아파트    85   준전세  30000   50  2020  2003  0.588235
2216735   노원구   상계동   아파트    40   준전세   5552   13  2020  2009  0.325000

[2216736 rows x 10 columns]

# 건축년도 묶음
- 90년대 116800건
- 00년대 100523건
- 10년대 82663건
- 건축년도 미상 삭제
- 1990년 이전에 지어진 건물 
- 2020년 이후에 지어진 건물

In [3]:
# 건축년도 없는 행 삭제
null_idx = df[df['건축년도'] == ',,,,'].index
df.drop(list(null_idx), inplace = True)

In [4]:
ddf = df.copy()

In [5]:
c = ',,,,'
c90 = ['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999']
c00 = ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009']
c10 = ['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']

In [6]:
s90 = ["1990's" for i in range(608141)]
ddf['건축년도'][ddf['건축년도'].isin(c90)] = s90

s00 = ["2000's" for i in range(523918)]
ddf['건축년도'][ddf['건축년도'].isin(c00)] = s00

s10 = ["2010's" for i in range(637781)]
ddf['건축년도'][ddf['건축년도'].isin(c10)] = s10

<ipython-input-6-61ac9676ceb4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddf['건축년도'][ddf['건축년도'].isin(c90)] = s90
<ipython-input-6-61ac9676ceb4>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddf['건축년도'][ddf['건축년도'].isin(c00)] = s00
<ipython-input-6-61ac9676ceb4>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddf['건축년도'][ddf['건축년도'].isin(c10)] = s10

In [7]:
# 27136
s20 = ["2020's" for i in range(27136)]
ddf['건축년도'][ddf['건축년도'].isin(['2020', '2021'])] = s20

# 380912
s99 = ["~1990" for i in range(380912)]
ddf['건축년도'][ddf['건축년도'].isin(["1990's", "2000's", "2010's", "2020's"]) == False] = s99

<ipython-input-7-b6302ea05e43>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddf['건축년도'][ddf['건축년도'].isin(['2020', '2021'])] = s20
<ipython-input-7-b6302ea05e43>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddf['건축년도'][ddf['건축년도'].isin(["1990's", "2000's", "2010's", "2020's"]) == False] = s99

In [8]:
ddf

         자치구명  법정동명 임대건물명  임대면적 전월세구분    보증금  임대료  계약년도    건축년도     평당임대료
0        서대문구  남가좌동   아파트    60    전세  43000    0  2016  2010's  0.000000
1        서대문구  남가좌동   아파트    60   준월세   5000  110  2016  2010's  1.833333
2        서대문구  남가좌동   아파트    60   준월세   5000  100  2016  2010's  1.666667
3        서대문구  남가좌동   아파트    85    월세    500  160  2016  2010's  1.882353
4        서대문구  남가좌동   아파트    60   준월세   5000  110  2015  2010's  1.833333
...       ...   ...   ...   ...   ...    ...  ...   ...     ...       ...
2216731   성북구   종암동   아파트    85    전세  39900    0  2020  1990's  0.000000
2216732   중랑구   상봉동   아파트    23    전세  18370    0  2020  2010's  0.000000
2216733   노원구   상계동   아파트    77    전세  33000    0  2020  2000's  0.000000
2216734   강북구   미아동   아파트    85   준전세  30000   50  2020  2000's  0.588235
2216735   노원구   상계동   아파트    40   준전세   5552   13  2020  2000's  0.325000

[2177888 rows x 10 columns]

# 주거 형태, 전월세 구분

In [9]:
df['건축년대'] = ddf['건축년도']
del ddf

In [12]:
df

,자치구명,법정동명,임대건물명,임대면적,전월세구분,보증금,임대료,계약년도,건축년도,평당임대료,건축년대
0,서대문구,남가좌동,아파트,60,전세,43000,0,2016,2015,0.000000,2010's
1,서대문구,남가좌동,아파트,60,준월세,5000,110,2016,2015,1.833333,2010's
2,서대문구,남가좌동,아파트,60,준월세,5000,100,2016,2015,1.666667,2010's
3,서대문구,남가좌동,아파트,85,월세,500,160,2016,2015,1.882353,2010's
4,서대문구,남가좌동,아파트,60,준월세,5000,110,2015,2015,1.833333,2010's
...,...,...,...,...,...,...,...,...,...,...,...
2216731,성북구,종암동,아파트,85,전세,39900,0,2020,1999,0.000000,1990's
2216732,중랑구,상봉동,아파트,23,전세,18370,0,2020,2016,0.000000,2010's
2216733,노원구,상계동,아파트,77,전세,33000,0,2020,2002,0.000000,2000's
2216734,강북구,미아동,아파트,85,준전세,30000,50,2020,2003,0.588235,2000's
2216735,노원구,상계동,아파트,40,준전세,5552,13,2020,2009,0.325000,2000's

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2177888 entries, 0 to 2216735
Data columns (total 11 columns):
 #   Column  Dtype
---  ------  -----
 0   자치구명    object
 1   법정동명    object
 2   임대건물명   object
 3   임대면적    int64
 4   전월세구분   object
 5   보증금     int64
 6   임대료     int64
 7   계약년도    int64
 8   건축년도    object
 9   평당임대료   float64
 10  건축년대    object
dtypes: float64(1), int64(4), object(6)
memory usage: 199.4+ MB

In [13]:
df_group = df.groupby(['건축년대', '자치구명', '법정동명', '임대건물명', '전월세구분']).mean()
df_group

                                    임대면적           보증금        임대료  \
건축년대   자치구명 법정동명 임대건물명  전월세구분
1990's 강남구  개포동  다세대/연립 월세     75.142857    338.571429  40.714286
                        전세     52.292115  22159.408602   0.000000
                        준월세    44.516279   3808.302326  63.125581
                        준전세    51.166667  14738.020833  24.781250
                 단독/다가구 월세     28.297872    509.148936  55.361702
...                                  ...           ...        ...
~1990  중랑구  중화동  다세대/연립 준전세    65.136364   9756.818182  19.227273
                 단독/다가구 월세     46.069136    196.543210  25.513580
                        전세     52.850385   9358.910891   0.000000
                        준월세    51.077551   1918.612245  37.145578
                        준전세    54.511811   8366.141732  16.480315

                                      계약년도     평당임대료
건축년대   자치구명 법정동명 임대건물명  전월세구분
1990's 강남구  개포동  다세대/연립 월세     2018.285714  1.211581
                        전세     2017.924731  0.000000
                        준월세    2017.776744  1.474371
                        준전세    2017.604167  0.490306
                 단독/다가구 월세     2017.914894  2.182976
...                                    ...       ...
~1990  중랑구  중화동  다세대/연립 준전세    2018.000000  0.294500
                 단독/다가구 월세     2017.375309  0.758081
                        전세     2017.612761  0.000000
                        준월세    2017.164626  0.845129
                        준전세    2017.692913  0.323521

[14359 rows x 5 columns]

In [15]:
df.to_csv('전월세 전체.csv', index = False)
df.to_csv('전월세 평균 그룹.csv', index = False)