In [1]:
import pandas as pd
import numpy as np

In [17]:
# 데이터 로드하기
bu_2016 = pd.read_excel('2016_부동산실거래.xlsx', sheet_name='Sheet1')
bu_2016.head()

,실거래가아이디,지번코드,시군구코드,자치구명,법정동코드,법정동명,신고년도,업무구분코드,업무구분,물건번호,대지권면적,건물면적,관리구분코드,층정보,건물주용도코드,건물주용도,물건금액,건축년도,건물명
0,11260-2016-4-0006319-1,1126010400,11260,중랑구,1126010400,묵동,2016,4,신고,1,105.8,85.78,0.0,NaN,1001,단독주택,352000000,1975.0,NaN
1,11560-2016-4-0009323-1,1156011300100019968,11560,영등포구,1156011300,당산동3가,2016,4,신고,1,NaN,84.93,0.0,11.0,2001,아파트,450000000,1986.0,한양
2,11590-2016-4-0011889-1,1159010400,11590,동작구,1159010400,본동,2016,4,신고,1,170.3,240.00,0.0,NaN,1001,단독주택,874000000,1991.0,NaN
3,11560-2016-4-0009321-1,1156011400100910080,11560,영등포구,1156011400,당산동4가,2016,4,신고,1,NaN,73.98,0.0,10.0,2001,아파트,500000000,1983.0,유원제일
4,11350-2016-4-0008855-1,1135010200104359936,11350,노원구,1135010200,월계동,2016,4,신고,1,NaN,71.83,0.0,3.0,2001,아파트,241000000,1983.0,동신

In [23]:
bu_2017 = pd.read_excel('2017_부동산실거래.xlsx', sheet_name='Sheet1')
bu_2018 = pd.read_excel('2018_부동산실거래.xlsx', sheet_name='Sheet1')
bu_2019 = pd.read_excel('2019_부동산실거래.xlsx', sheet_name='Sheet1')
bu_2020 = pd.read_excel('2020_부동산실거래.xlsx', sheet_name='Sheet1')

In [18]:
bu_2016.columns

Index(['실거래가아이디', '지번코드', '시군구코드', '자치구명', '법정동코드', '법정동명', '신고년도', '업무구분코드',
       '업무구분', '물건번호', '대지권면적', '건물면적', '관리구분코드', '층정보', '건물주용도코드', '건물주용도',
       '물건금액', '건축년도', '건물명'],
      dtype='object')

In [24]:
# 필요한 값들 정리
needed_list = ['자치구명', '법정동명', '신고년도', '대지권면적', '건물주용도', '물건금액', '건축년도']

bu_2016 = bu_2016[needed_list]
bu_2017 = bu_2017[needed_list]
bu_2018 = bu_2018[needed_list]
bu_2019 = bu_2019[needed_list]
bu_2020 = bu_2020[needed_list]

        자치구명   법정동명  신고년도   대지권면적 건물주용도       물건금액    건축년도
0        중랑구     묵동  2016  105.80  단독주택  352000000  1975.0
1       영등포구  당산동3가  2016     NaN   아파트  450000000  1986.0
2        동작구     본동  2016  170.30  단독주택  874000000  1991.0
3       영등포구  당산동4가  2016     NaN   아파트  500000000  1983.0
4        노원구    월계동  2016     NaN   아파트  241000000  1983.0
...      ...    ...   ...     ...   ...        ...     ...
209568   구로구    고척동  2016     NaN   아파트  273000000  1996.0
209569   구로구   신도림동  2016     NaN   아파트  398000000  1999.0
209570   구로구    구로동  2016   28.78  오피스텔  118000000  2012.0
209571   구로구    구로동  2016   27.93  연립주택  198000000  2004.0
209572   구로구    구로동  2016     NaN   아파트  328000000  2011.0

[209573 rows x 7 columns]

In [32]:
# 데이터 type 확인
bu_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176001 entries, 0 to 176000
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   자치구명    176001 non-null  object
 1   법정동명    176001 non-null  object
 2   신고년도    176001 non-null  int64
 3   대지권면적   89147 non-null   float64
 4   건물주용도   176001 non-null  object
 5   물건금액    176001 non-null  int64
 6   건축년도    175436 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 9.4+ MB

In [37]:
bu_2020.isnull().sum()

자치구명         0
법정동명         0
신고년도         0
대지권면적    86854
건물주용도        0
물건금액         0
건축년도       565
dtype: int64

In [44]:
# 0값들을 결측치로 대체
import warnings
warnings.filterwarnings(action='ignore') 

idx = bu_2016[bu_2016['대지권면적'] <=0].index
bu_2016.loc[idx, '대지권면적'] = np.nan
idx = bu_2016[bu_2016['건축년도'] <=0].index
bu_2016.loc[idx, '건축년도'] = np.nan

idx = bu_2017[bu_2017['대지권면적'] <=0].index
bu_2017.loc[idx, '대지권면적'] = np.nan
idx = bu_2017[bu_2017['건축년도'] <=0].index
bu_2017.loc[idx, '건축년도'] = np.nan

idx = bu_2018[bu_2018['대지권면적'] <=0].index
bu_2018.loc[idx, '대지권면적'] = np.nan
idx = bu_2018[bu_2018['건축년도'] <=0].index
bu_2018.loc[idx, '건축년도'] = np.nan

idx = bu_2019[bu_2019['대지권면적'] <=0].index
bu_2019.loc[idx, '대지권면적'] = np.nan
idx = bu_2019[bu_2019['건축년도'] <=0].index
bu_2019.loc[idx, '건축년도'] = np.nan

idx = bu_2020[bu_2020['대지권면적'] <=0].index
bu_2020.loc[idx, '대지권면적'] = np.nan
idx = bu_2020[bu_2020['건축년도'] <=0].index
bu_2020.loc[idx, '건축년도'] = np.nan

In [54]:
a = pd.DataFrame(bu_2016.isnull().sum() / len(bu_2016) *100)
a.columns = ['2016']
b = pd.DataFrame(bu_2017.isnull().sum() / len(bu_2017) *100)
b.columns = ['2017']
c = pd.DataFrame(bu_2018.isnull().sum() / len(bu_2018) *100)
c.columns = ['2018']
d = pd.DataFrame(bu_2019.isnull().sum() / len(bu_2019) *100)
d.columns = ['2019']
e = pd.DataFrame(bu_2020.isnull().sum() / len(bu_2020) *100)
e.columns = ['2020']

In [56]:
# 결측치 비율 보기
pd.concat([a,b,c,d,e], axis=1)

            2016       2017       2018       2019       2020
자치구명    0.000000   0.000000   0.000000   0.000000   0.000000
법정동명    0.000000   0.000000   0.000000   0.000000   0.000000
신고년도    0.000000   0.000000   0.000000   0.000000   0.000000
대지권면적  57.651033  58.316512  55.143409  53.253193  50.313919
건물주용도   0.000000   0.000000   0.000000   0.000000   0.000000
물건금액    0.000000   0.000000   0.000000   0.000000   0.000000
건축년도    4.823618   4.747194   1.807862   1.788565   0.975563

In [60]:
bu_2017['건물주용도'].value_counts()

아파트     109491
연립주택     50841
단독주택     16248
오피스텔     11173
Name: 건물주용도, dtype: int64

In [90]:
# 결측치 제거
bu_2016 = bu_2016.drop('대지권면적', axis=1)#[bu_2017['건축년도'] != np.nan]
bu_2016 = bu_2016.dropna(axis=0)

bu_2017 = bu_2017.drop('대지권면적', axis=1)#[bu_2017['건축년도'] != np.nan]
bu_2017 = bu_2017.dropna(axis=0)

bu_2018 = bu_2018.drop('대지권면적', axis=1)#[bu_2017['건축년도'] != np.nan]
bu_2018 = bu_2018.dropna(axis=0)

bu_2019 = bu_2019.drop('대지권면적', axis=1)#[bu_2017['건축년도'] != np.nan]
bu_2019 = bu_2019.dropna(axis=0)

bu_2020 = bu_2020.drop('대지권면적', axis=1)#[bu_2017['건축년도'] != np.nan]
bu_2020 = bu_2020.dropna(axis=0)

In [72]:
# 건축년도 변환
def trans_year(year):
    if year >= 2010:
        return '2010s'
    elif year >= 2000:
        return '2000s'
    elif year >= 1990:
        return '1990s'
    else:
        return '기타'

In [91]:
bu_2016['건축년도'] = bu_2016.apply(lambda x: trans_year(x['건축년도']), axis=1)
bu_2017['건축년도'] = bu_2017.apply(lambda x: trans_year(x['건축년도']), axis=1)
bu_2018['건축년도'] = bu_2018.apply(lambda x: trans_year(x['건축년도']), axis=1)
bu_2019['건축년도'] = bu_2019.apply(lambda x: trans_year(x['건축년도']), axis=1)
bu_2020['건축년도'] = bu_2020.apply(lambda x: trans_year(x['건축년도']), axis=1)

In [95]:
bu_2016 = pd.DataFrame(bu_2016.groupby(['자치구명', '법정동명','건물주용도', '건축년도'])['물건금액'].mean())
bu_2016 = bu_2016.reset_index()
bu_2016['신고년도'] = 2016

bu_2017 = pd.DataFrame(bu_2017.groupby(['자치구명', '법정동명','건물주용도', '건축년도'])['물건금액'].mean())
bu_2017 = bu_2017.reset_index()
bu_2017['신고년도'] = 2017

bu_2018 = pd.DataFrame(bu_2018.groupby(['자치구명', '법정동명','건물주용도', '건축년도'])['물건금액'].mean())
bu_2018 = bu_2018.reset_index()
bu_2018['신고년도'] = 2018

bu_2019 = pd.DataFrame(bu_2019.groupby(['자치구명', '법정동명','건물주용도', '건축년도'])['물건금액'].mean())
bu_2019 = bu_2016.reset_index()
bu_2019['신고년도'] = 2019

bu_2020 = pd.DataFrame(bu_2020.groupby(['자치구명', '법정동명','건물주용도', '건축년도'])['물건금액'].mean())
bu_2020 = bu_2020.reset_index()
bu_2020['신고년도'] = 2020

In [99]:
all_df = pd.concat([bu_2016, bu_2017, bu_2018, bu_2019, bu_2020], axis=0)
all_df

     자치구명 법정동명 건물주용도   건축년도          물건금액  신고년도  index
0     강남구  개포동  단독주택  1990s  1.498333e+09  2016    NaN
1     강남구  개포동  단독주택     기타  1.486315e+09  2016    NaN
2     강남구  개포동   아파트  1990s  6.113335e+08  2016    NaN
3     강남구  개포동   아파트  2000s  9.910370e+08  2016    NaN
4     강남구  개포동   아파트     기타  9.464865e+08  2016    NaN
...   ...  ...   ...    ...           ...   ...    ...
3141  중랑구  중화동  연립주택  1990s  2.001841e+08  2020    NaN
3142  중랑구  중화동  연립주택  2000s  2.173725e+08  2020    NaN
3143  중랑구  중화동  연립주택  2010s  2.773154e+08  2020    NaN
3144  중랑구  중화동  연립주택     기타  2.601988e+08  2020    NaN
3145  중랑구  중화동  오피스텔  2010s  1.403333e+08  2020    NaN

[15488 rows x 7 columns]

In [100]:
all_df.reset_index(drop=True, inplace=True)
all_df.drop('index', axis=1, inplace=True)

In [101]:
all_df

      자치구명 법정동명 건물주용도   건축년도          물건금액  신고년도
0      강남구  개포동  단독주택  1990s  1.498333e+09  2016
1      강남구  개포동  단독주택     기타  1.486315e+09  2016
2      강남구  개포동   아파트  1990s  6.113335e+08  2016
3      강남구  개포동   아파트  2000s  9.910370e+08  2016
4      강남구  개포동   아파트     기타  9.464865e+08  2016
...    ...  ...   ...    ...           ...   ...
15483  중랑구  중화동  연립주택  1990s  2.001841e+08  2020
15484  중랑구  중화동  연립주택  2000s  2.173725e+08  2020
15485  중랑구  중화동  연립주택  2010s  2.773154e+08  2020
15486  중랑구  중화동  연립주택     기타  2.601988e+08  2020
15487  중랑구  중화동  오피스텔  2010s  1.403333e+08  2020

[15488 rows x 6 columns]

In [102]:
all_df.to_csv('2016_2020_부동산실거래_전처리후.csv', encoding='utf-8-sig')